:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */

  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;


  color-scheme: light dark;

  --text-color: #000000;
  --bg-color: #ffffff;

  --action-color: #FF9B9B;

  --main-color-1: #DCECFF;
  --main-color-2: #BEDAFC;

  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  color: var(--text-color);
  background-color: var(--bg-color);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: #eeeeee;
    --bg-color: #050505;
    --main-color-1: #a0b2c7;
    --main-color-2: #e6cbba;
    }
    }
*/

.row {
  display: flex;
  justify-content: space-between;
}

* {
  border-radius: 6px;
  margin: 0rem;
  padding: 0rem;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  max-width: 25rem;
  margin: auto;
  padding: 0rem 1rem;

  color: var(--text-color);
  background-color: var(--bg-color);

  display: flex;
  place-items: center;
}

.time-section {
  background-color: var(--main-color-1);
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: var(--shadow);
}

.button-action {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--action-color);
  padding: 0.1em 0.5em;
  box-shadow: var(--shadow);
}

.button-mini {
  color: var(--text-color);
  background-color: var(--main-color-2);

  border: none;
  padding: 0.1em 0.5em;
  cursor: pointer;
  box-shadow: var(--shadow);
}